{% extends '_base/adminlte.html.twig' %}
{% set homelink = path('agent') %}

 {% block navbar %}
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>      
    </ul>
       {{ render(controller('App\\Controller\\SchoolSessionController::selectBlock')) }}
{% endblock %}
{% block sidebar %}
          {{ knp_menu_render('agent_menu') }}
{% endblock %}