@import "~admin-lte/build/scss/AdminLTE.scss";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/css/font-awesome';

html {
 font-size:14px;
}
.login-page, .register-page {
  height:80vh;
}

a {
 color:#333;
}
