@import "~admin-lte/build/scss/AdminLTE.scss";
@import "~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.css";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/css/font-awesome';


html {
 font-size:14px;
}
.login-page, .register-page,.front-page {
  height:80vh;
  align-items: center;
  background: #e9ecef;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
 color:#333;
}

#flashes {
 width:360px;
}

.brand-link .brand-image {
 float:none;
}
.page-link {
   color:#333;
}

.page-item.active .page-link { 
    background-color: #16a2b8;
    border-color: #16a2b8;
}
.table-responsive {
    word-break: keep-all;
}

select {
    border-radius: 2px;
    border: 1px solid #eee;
    color: #333;
    padding:3px;
    line-height:28px;
    background: white;
 }
