{% extends '_base/adminlte.html.twig' %}

   {% set homelink = path('admin') %}
    {% block navbar %}
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>
{% endblock %}

  {% block sidebar %}
          {{ knp_menu_render('admin_menu') }}
{% endblock %}