<div class="card card-info">
              <!-- /.card-header -->
              <!-- form start -->
              {{ form_start(form) }}
                <div class="card-body">
                  {{ form_widget(form) }}

                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-info">保存</button>
                  <a href="{{ path('agent_package_size_index') }}" class='btn btn-success ml-2'>返回</a>
                </div>
           {{ form_end(form) }}
 </div>