{% extends 'agent/base.html.twig' %}

{% set  title = '快递点' %}

{% block content %} 
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>                
                <th>包裹类型</th>
                <th>价格</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for package_size in package_sizes %}
            <tr>                
                <td>{{ package_size.title }}</td>
                 <td>{{ package_size.price }}</td>
                <td>                    
                    <a href="{{ path('agent_package_size_edit', {'id': package_size.id}) }}" class='btn btn-info btn-xs'>修改</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">没有记录</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if  school %}<a href="{{ path('agent_package_size_new') }}" class="btn btn-success">添加</a> {% endif %}
    </div>
{% endblock %}
