<form method="post" action="{{ path('agent_package_address_delete', {'id': package_address.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ package_address.id) }}">
    <button class="btn">Delete</button>
</form>
